// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Kanit', sans-serif;
$body-font-family: 'Kanit', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$bs-blue: #3490dc;
$bs-indigo: #6574cd;
$bs-purple: #9561e2;
$bs-pink: #f66d9b;
$bs-red: #e3342f;
$bs-orange: #f6993f;
$bs-yellow: #ffed4a;
$bs-green: #38c172;
$bs-teal: #4dc0b5;
$bs-cyan: #6cb2eb;
